:root {
  --color_main:   hsl(243, 100%, 78%);
  --color_accent: hsl(158, 68%, 64%);
  --color_bg:     hsl(0, 0%, 100%);
}

@import "tailwind";
.bg-main {
  background-color: var(--color_main);
}

.color-main {
  color: var(--color_main);
}

body {
  min-height:  100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;;
}
