:root {
  --color_main:   hsl(243, 100%, 78%);
  --color_accent: hsl(158, 68%, 64%);
  --color_bg:     hsl(0, 0%, 100%);
}

@import "tailwind";
.bg-main {
  background-color: var(--color_main);
}

.color-main {
  color: var(--color_main);
}
